<div class="col-md-6 mx-auto">
    <div class="card card-body">
        <form action="/telescopes/add" method="POST">
            <div class="form-group">
                <input type="text" name="brand" class="form-control" placeholder="Atronomic 4000" autofocus required>
            </div>
            <div class="form-group">
                <input type="text" name="serie" class="form-control" placeholder="Eq5000 " required>
            </div>
            <div class="form-group">
                <input type="text" name="mount_types" class="form-control" placeholder="Equatorial" >
            </div>
            <button class="btn btn-primary btn-block">
                save
            </button>
        </form>
    </div>
</div>