<div class="row">
{{#each items}}
<div class="col-md-4">
    <div class="card-group">
        <div class="card pb-1">
            <img src="{{img_src}}" class="d-block w-100" alt="">
            <div class="card-body">
                <h5 class="card-title">{{camera.full_name}}</h5>
                <h5 class="card-title">{{earth_date}}</h5>
                <p class="card-text"><small class="text-muted">Picture earth date: {{earth_date}}</small></p>
            </div>
        </div>
    </div>
</div>
{{/each}}
</div>